In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [4]:
df = pd.read_csv("house_prices.csv")
df

   area    price
0    50   300000
1   100   600000
2   150   900000
3   200  1200000
4   250  1500000